#kaocha/v1
    {:tests    [{:id           :unit
                 :ns-patterns  ["-test$" "-spec$"]
                 :test-paths   ["src/test"]
                 :skip-meta    [:integration :known-failing]
                 :source-paths ["src/main"]}
                {:id           :integration
                 :ns-patterns  ["-test$" "-spec$"]
                 :test-paths   ["src/test"]
                 :focus-meta   [:integration]
                 :skip-meta    [:known-failing]
                 :source-paths ["src/main"]}
                {:id           :known-failing
                 :ns-patterns  ["-test$" "-spec$"]
                 :test-paths   ["src/test"]
                 :focus-meta   [:known-failing]
                 :source-paths ["src/main"]}]
     ;:reporter [fulcro-spec.reporters.terminal/fulcro-report]
     :color? false
     :plugins [:kaocha.plugin/randomize
               :kaocha.plugin/profiling
               :kaocha.plugin/filter
               :kaocha.plugin/capture-output] }
